body{
            font-size:  x-large;
            background-color: #009B77;
            font-weight: lighter;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
            text-decoration: none;
            border: solid red 10px;
            border-radius: 55px;
            background-color: #fff;
}
